{# <section id="top"> #}
    {# <header class="fixed-menu fixed_show"> #}
        {# <div class="fixed-menu-wrapper container"> #}
            {# <div id="logo"><a href="index.html" alt="">Linda Bailey</a> #}
        {# </div> #}
            {# <nav class="navmenu"> #}
                {# <ul> #}
                    {# <li class="first active"><a href="#home">Home</a></li> #}
                    {# <li class=""><a href="#services">Services</a></li> #}
                    {# <li class="middle_menu"><a href="#about">About</a></li> #}
                    {# <li class=""><a href="#portfolio">Portfolio</a></li> #}
                    {# <li class=""><a href="#blog">Blog</a></li> #}
                    {# <li class="last"><a href="#contact">Contacts</a></li> #}
                {# </ul> #}
            {# </nav> #}
        {# </div> #}
    {# </header> #}
{#  #}
    {# <div class="mobile_menu_wrapper" style="display: none;"> #}
        {# <ul class="mobile_menu .container"> #}
            {# <ul> #}
                {# <li class="active first"><a href="#home">Home</a></li> #}
                {# <li><a href="#services">Services</a></li> #}
                {# <li class="middle_menu"><a href="#about">About</a></li> #}
                {# <li><a href="#portfolio">Portfolio</a></li> #}
                {# <li><a href="#blog">Blog</a></li> #}
                {# <li class="last"><a href="#contact">Contacts</a></li> #}
            {# </ul> #}
        {# </ul> #}
    {# </div> #}
{# </section> #}